.login {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('https://www.wallpapertip.com/wmimgs/68-682076_desktop-office-table.jpg');
    background-size: cover;
}

.loginTitle {
    font-size: 50px;
    font-family: 'Varela', sans-serif;
}

.loginForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm>label {
    margin: 9px 0;
    font-family: 'Varela', sans-serif;
    font-size: 16px;
}

.loginInput {
    padding: 12px;
    background-color: white;
    border: none;
    border-radius: 3px;
}

.loginInput:focus {
    outline: none;
}

.loginButton {
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 16px;
}

.loginButton:disabled {
    cursor: not-allowed;
    background-color: rgb(245, 185, 185);
}

.loginRegisterButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: teal;
    border: none;
    cursor: pointer;
    padding: 12px;
    width: 115px;
    color: white;
    border-radius: 10px;
    font-size: 16px;
}