.header {
    margin-top: 60px;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
    color: rgb(26, 26, 26);
}

.headerTitleSm {
    position: absolute;
    top: 11%;
    font-size: 21px;
}

.headerTitleLg {
    position: absolute;
    top: 13%;
    font-size: 110px;
}

.headerImg {
    width: 100%;
    height: 450px;
    margin-top: 80px;
    object-fit: cover;
}